VITE_PRIVY_APP_ID=cmowozv13029v0clbx15g9wqb
VITE_CHAIN_ID=6343
VITE_RPC_URL=https://carrot.megaeth.com/rpc
VITE_LOOPCHAIN_ADDRESS=0xc655B264Fb2Ae5Ccc203Ba2524FAA8F1834ef249
VITE_PAYMENT_TOKEN_ADDRESS=0x6B921E8b699D3c780018Ca5E300a28eF3E63dab3
VITE_EXPLORER_URL=https://megaeth-testnet-v2.blockscout.com
